/******************************** Global Configuration ********************************/

* {
    box-sizing: border-box;
    word-break: break-word;

    --white-base: #FFFFFF;
    --black-base: #000000;
    --purple-base: #8C11BE;
    --purple-button: #A328D6;
    --green-positive: #03AC00;
    --red-negative: #C70000;
}

body {
    background-color: var(--purple-base);
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
}

button:hover {
    cursor: pointer;
}